
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
:root{
    --background-color:#f9f9ee;
    --text-0-color:#0000003b;
    --text-1-color:#f9f6f2;
    --text-2-color:#eee4d7;
    --text-3-color:#776f64;
    --board-color:#bcae9f;
    --board-border-color:#9e8c79;
    --box-empty-color:#cdc1b4;
    --button-color:#907b64;
    --border-radius:3px;
    --padding:.5rem;
    --board-size:300px;
    --board-margintop:4rem;
    --tile-border:5px;
    --tile-size:calc(var(--board-size)/4 - 3px);

}
  body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    padding: 2rem 1.5rem 2rem 1.5rem;
    overflow: hidden;
  }
.top,
.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h1{
    color: var(--text-3-color);
    font-size: 5rem;
}
.top .score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--board-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    width: 100px;
}
.score h2{
    color: var(--text-2-color);
    font-size: 1rem;
}
#score{
    color: var(--text-1-color);
    font-weight: 700;
    font-size: 1.3rem;
}
.bottom p,
.bottom p a{
    color:var(--text-3-color)
}
.bottom button,
.back{
    height: 45px;
    width: 120px;
    padding: var(--padding) 1rem var(--padding) 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    color: var(--text-2-color);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
}
.bottom button:hover,
.bottom button:focus{
    filter: brightness(120%);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:var(--board-margintop);
    width: 100%;
}
#board{
    border-radius: var(--border-radius);
    border: 6px solid var(--board-border-color);
    background-color: var(--board-color);
    width: min(var(--board-size));
    height: var(--board-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer{
    width: auto;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-0-color);
}

/* about */
.about-body{
    overflow: scroll;
}
.description{
    color: var(--text-3-color);
    font-size: 1.5rem;
}
.description::before{
    content: open-quote;
    font-size: 1.5rem;
}
.description::after{
    content: close-quote;
    font-size: 1.5rem;
}
center p{
    margin: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-3-color);
}
.custom-counter {
    list-style: none;
    counter-reset: item;
  }
label{
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text-3-color);
}
.custom-counter li{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.custom-counter li::before {
    counter-increment: item;
    content: counter(item);
    margin-right: 10px;
    background:var(--button-color);
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    min-width: 2rem;
    max-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back{
    width: 140px;
}
center{
    height: 200px;
}
/* tile colors */
.tile{
    width: var(--tile-size);
    height: var(--tile-size);
    border: var(--tile-border) solid var(--board-border-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-0-color);
}
.x2{background-color: #e0af79;font-size: 40px;}
.x4{background-color: #e0ca79;font-size: 40px;}
.x8{background-color: #dae079;font-size: 40px;}
.x16{background-color: #a8e079;font-size: 40px;}
.x32{background-color: #80e079;font-size: 40px;}
.x64{background-color: #79e09f;font-size: 40px;}
.x128{background-color: #79e0c8;font-size: 35px;}
.x256{background-color: #79a9e0;font-size: 35px;}
.x512{background-color: #797de0;font-size: 35px;}
.x1024{background-color: #e079d8;font-size: 25px;}
.x2048{background-color: #e05151;font-size: 25px;}
